---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-sm-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Image Gallery" %}
    
  </div>
  <div class="col-sm-4">  

    {% include index/featured-terms.html field="subject" title="Landforms" btn-color="success" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="warning" %}
    
    {% include index/objects.html field="format" title="File Formats" btn-color="outline-success" %}

  </div>
  <div class="col-sm-12">

    {% include index/data-download.html %}

  </div>

</div>